@model List<Movie>
@{
    ViewData["Title"] = "Movie Collection";
}

<div class="text-center">
    <h1>Movie Collection</h1>
    <br />
</div>

<div>
    <table class="table table-bordered">
        <thead class="fw-bold">
            <tr>
                <td>Category</td>
                <td>Title</td>
                <td>Year</td>
                <td>Director</td>
                <td>Rating</td>
                <td>Edited</td>
                <td>Lent To</td>
                <td>Copied to Plex</td>
                <td>Notes</td>
            </tr>
        </thead>

        <tbody>
            @foreach (var x in Model) {
                <tr>
                    <td>@x.Category.CategoryName</td> <!--This needs to be fixed!!-->
                    <td>@x.Title</td>
                    <td>@x.Year</td>
                    <td>@x.Director</td>
                    <td>@x.Rating</td>
                    <td>@x.Edited</td>
                    <td>@x.LentTo</td>
                    <td>@x.CopiedToPlex</td>
                    <td>@x.Notes</td>

                    <td> <a class="btn btn-primary" asp-controller="Home" asp-action="EditMovie" asp-route-movieId="@x.MovieId">Edit</a></td>
                    <td> <a class="btn btn-danger" asp-controller="Home" asp-action="DeleteMovie" asp-route-movieId="@x.MovieId">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

